/* SmoothScroll config html */
html{
    scroll-behavior: smooth;

}



/* Configuracion general del body */
* {
margin: 0;
padding: 0;
border: 0;
background-size: cover;
}


/* Fuentes de texto */

.f-semiBold600{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
}

.f-regular400{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.f-16{
    font-size: 16px;
}

.f-20{
    font-size: 20px;
}

.f-25{
    font-size: 25px;
}

.f-30{
    font-size: 30px;
}

.f-color1{
    color: white;
}


/* Ajustes etiquetas */

.ajuste-carousel-img{
    display: flex;
    aspect-ratio: 3/2;
    object-fit: cover;
    position: center center;
    max-height: 1350px;
}

header .navbar{
    align-items:first baseline;
    height: 70px;
    z-index: 1000;
    top: 0%;
    width: 100%;


}

.custom-background{
    background-color: rgba(79, 2, 98, 0.929);
}

.navCustomPadding{
    padding-left: 10%;
    padding-right: 10%;
}

.carousel-inner{
    object-fit: relative;
}

.contenedorUno {
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.2%;
    
}

hr{
    color: white;
    width: 100%;
    justify-content: center;
}

a{
    text-decoration: none;
}

.contenedorUno .row{

    padding-bottom: 3%;
}

.boton1{
    width: 100% !important;
    max-height: 50px;
    border-radius: 1px !important;
    border: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

 

}

.boton1:hover{
    color: rgb(0, 110, 255) !important;
    background-color: rgb(51, 240, 199) !important;
}

i{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

i:hover{
    color: rgb(0, 110, 255);
}

.contenedorDos{
    background-color: black;
    text-align: center;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6%;
}

.card{
    text-align: left !important;
    color: white;
    border-radius: 2px 2px 2px 2px;

}

.card-body{
    border-radius: 0px 0px 2px 2px;
    overflow: hidden;
}

.contendor-arregloImagen{
    overflow: hidden;  
    width: auto;
    height: 180px;
    min-height: 37%;
    max-height: 40%;
   
}

.arregloImagen1{
    display: flex;
    width: 120% !important;
    position: center center;
    object-fit: cover;
    border-radius: 2px;
}

.formulario{
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
}

.footerP{
    margin-left: 15%;
    vertical-align: middle;
    padding-top: 2%;
}

.footerIcons{
    padding-left: 15%;
}

.footerIcons a:active{
    text-decoration: none;
    outline: none;
    color: inherit;
}


/* MediaQuery config */

@media(max-width:991px){
    .boton2Hidden{
        display: block !important;
    }

    .boton2{
        display: none !important;
    }
    .parrafo{
        margin-bottom: 5%;

    }
    .navbar-collapse{
        background-color: rgba(0, 255, 255, 0.185);
    }
}

.mi-clase {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

.mi-clase > * {
    flex-grow: 1;
}

/* Estilos específicos para pantallas grandes */
@media (min-width: 1200px) {
    .mi-clase {
        justify-content: space-evenly !important;
    }
}